:root {
  --color-1: #0c0c0c;
  --color-2: #191919;
  --color-3: #262626;
  --color-4: #323232;
  --color-5: #20455e;
  --color-6: #265372;
  --color-7: #2c6185;
  --color-8: #326f99;
  --color-9: #377dad;
  --color-10: #3d8bc1;
}