/* GLOBAL */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(0, 0, 0);
    color: white;
    max-width: 100%;
    margin: 0;
}

strong {
    color: #3d8bc1;
}

a {
    color: white;
    text-decoration: none;
    margin: 10px;
    border: #3d8bc1 1px solid;
    padding: 5px;
    border-radius: 10px;
}

/* HEADER */

nav {
    padding: 5px;
    align-items: center;
    background-color: #1A1A1A;
    border-bottom: #3d8bc1 1px solid;
}

.nav-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* SOBRE MIM */

#sobre {
    margin: 10px;
}

.sobre-conteudo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin: 10px;
}

.sobre-texto{
    padding: 10px;
    margin: 10px;
    text-align: left;
}

.sobre-botoes{
    margin-top: 15px;
}

.sobre-botoes p{
    padding: 10px;
}

/* PROJETOS */


.carrossel-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

.projetos-grid {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 1rem;
    padding: 1rem 0;
    width: 100%;
    scrollbar-width: none; /* Firefox */
}
.projetos-grid::-webkit-scrollbar {
    display: none; /* Chrome */
}

.projeto-card {
    min-width: 300px;
    flex: 0 0 auto;
    background-color: #f4f4f4;
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.seta {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255,255,255,0.8);
    border: none;
    font-size: 2rem;
    cursor: pointer;
    z-index: 10;
    padding: 0.5rem;
}
.seta.esquerda {
    left: 0;
}
.seta.direita {
    right: 0;
}
