* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(0, 0, 0);
    color: white;
    max-width: 100%;
    margin: 0;
}

strong {
    color: #3d8bc1;
}

a {
    color: white;
    text-decoration: none;
    margin: 10px;
    border: #3d8bc1 1px solid;
    padding: 5px;
    border-radius: 10px;
}

nav {
    padding: 5px;
    align-items: center;
    background-color: #1A1A1A;
    border-bottom: #3d8bc1 1px solid;
}

.nav-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#sobre {
    margin: 10px;
}

.sobre-conteudo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
}

.sobre-texto{
    padding: 10px;
    margin: 10px;
    text-align: left;
}